SCRIPTS_DIR="/Users/$USER_PROFILE/.dotfiles/scripts"

# MARK:  --- Aliases ---
alias compvid="$SCRIPTS_DIR/compressVideo.sh"
alias ssymb="$SCRIPTS_DIR/symbolicate.sh"
alias androidss="$SCRIPTS_DIR/androidScreenshots.sh"
alias vi="vim"